<footer class="footer">
    <div class="footer-block1">
        <div class="footer-container">
            <h3 class="footer-container-title">
                let's discuss making your interior like a dream place!
            </h3>
            <div class="footer-container-block1">
                <p class="footer-container-block1-text">
                    Contact us below to work together to build your amazing interior
                </p>
                <a class="footer-container-block1-button" routerLink="/contact-us" routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Contact Us</a>
            </div>
        </div>
    </div>
    <div class="footer-block2">
        <div class="footer-block2-container">
            <div class="footer-block2-container-block1">
                <p class="footer-block2-container-block1-logo">
                    Dananz    
                </p>
                <h3 class="footer-block2-container-block1-title">
                    One of the best furniture agency.
                </h3>
            </div>
            <div class="footer-block2-container-block2">
                <div>
                    <form action="">
                        <label class="flex">
                            <div>
                                <div class="footer-block2-container-block1-lab">
                                    <img src="assets/img/Ellipse 74.png" alt="photo">
                                    <p class="footer-block2-container-block1-text">
                                        Enter  your email to get the laterst news
                                    </p>
                                </div>
                                <input class="footer-block2-container-block1-inp" type="email" placeholder="Email Address" name="e_mail">
                            </div>
                            <button class="border"><img src="assets/img/Vector 32.png" alt="photo"></button>
                        </label>
                    </form>
                    <div class="footer-block2-container-block2-line"></div>
                </div>
                <div class="footer-block2-container-block2-links">
                    <h4 class="footer-block2-container-block2-links-tit">
                        Follow us On
                    </h4>
                    <div class="links">
                        <a class="circle"      href="https://www.facebook.com">  <img src="assets/img/facebook.png" alt="photo">  </a>
                        <a class="circle marg" href="https://www.instagram.com"> <img src="assets/img/instagram.png" alt="photo"> </a>
                        <a class="circle marg" href="https://www.tiktok.com">    <img src="assets/img/tiktok.png" alt="photo">    </a>
                        <a class="circle marg" href="https://www.youtube.com">   <img src="assets/img/youtube.png" alt="photo">   </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
