<section class="section-nav">
    <div class="section-nav-container">
         <div class="sec-nav-logo">
             <a class="sec-nav-logo-text" href="#">Dananz</a>
         </div>
         <nav class="sec-nav-manu">
             <a class="nav-manu-linc"         routerLink=""       routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Home</a>
             <a class="nav-manu-linc margin"  routerLink="about-us"   routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>About Us</a>
             <a class="nav-manu-linc margin"  routerLink="services"   routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Services</a>
             <a class="nav-manu-linc margin"  routerLink="out-teams"  routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Out Teams</a>
             <div class="nav-Contact">
                 <a class="nav-manu-cont"     routerLink="contact-us" routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Contact Us</a>
             </div>
         </nav>
         <div class="sec-nav-mob-manu">
             <img class="sec-nav-mob-manu-img" src="assets/img/Без названия.png" alt="photo">
             <ul class="sec-nav-mob-UL">
                 <li>
                     <a class="nav-manu-linc" routerLink=""       routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Home</a>
                 </li>
                 <li>
                     <a class="nav-manu-linc" routerLink="about-us"   routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>About Us</a>
                 </li>
                 <li>
                     <a class="nav-manu-linc"  routerLink="services"   routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Services</a>
                 </li>
                 <li>
                     <a class="nav-manu-linc"  routerLink="out-teams"  routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Out Teams</a>
                 </li>
                 <li>
                     <a class="nav-manu-cont" routerLink="contact-us" routerLinkActive="activ" [routerLinkActiveOptions]={exact:true}>Contact Us</a>
                 </li>
             </ul>
         </div>
    </div>
 </section>