.section-nav{
    background-color: var(--grayscale-white);
}
.section-nav-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sec-nav-manu{
    display: none;
}
.sec-nav-mob-manu{
    position: relative;
}
.sec-nav-mob-UL{
    visibility: hidden;
    position: absolute;
    top: -191px;
    left: -28px;
    right: -11px;
    transition: 2.5s;
    padding: 10px;
}
.sec-nav-logo-text{
    color: var(--grayscale-black);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 31.93px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 54.281px */    
}
.sec-nav-mob-manu-img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.sec-nav-mob-manu:hover >.sec-nav-mob-UL{
    visibility: visible;
    top: 48px;
    left: -28px;
    right: -11px;
    background-color: var(--primary-blue-50);
    border-radius: 5px;
}
.sec-nav-logo{
    background-image: url('../../../assets/img/Vector 286.png'),url('../../../assets/img/Vector 288.png'), url('../../../assets/img/Vector 289.png');
    background-position: 54px 29px, 54px 43px, 94px 42px;
}
.nav-manu-linc{
    color: var(--grayscale-50);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    transition: 1.8s;    
}
.nav-manu-linc:hover{
    scale: 1.3;
    font-weight: 600;
}
.nav-manu-cont{
    color: var(--grayscale-white, #FFF);
    /* Poppins/Medium/14 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */ 
    padding: 14px 10px; /*14 32*/
    border: 1px solid var(--grayscale-30);
    background: var(--primary-blue-100); 
    display: block; 
    margin-top: 20px;
    transition: 1.5s;
}
.nav-manu-cont:hover{
    scale: 1.1;
    cursor:pointer;
}
.activ{
    color: blue;
}
@media screen and (min-width: 768px) {
    .section-nav{
        padding: 40px 0;
    }
    .sec-nav-mob-manu{
        display: none;
    }
    .sec-nav-manu{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .margin{
        margin-left: 20px;
    } 
    .nav-manu-cont{
        margin-top: 0px;
        padding: 14px 32px; /*14 32*/   
    }
    .nav-Contact{
        margin-left: 20px;
    }
}
@media screen and (min-width: 992px) {
    .section-nav{
        padding: 40px 0;
    }
    .sec-nav-manu{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .margin{
        margin-left: 45px;
    } 
    .nav-Contact{
        margin-left: 54px;
    }
}
@media screen and (min-width: 1240px) {
    .section-nav-container{
        width: 1200px;
    }
    .sec-nav-manu{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .margin{
        margin-left: 74px;
    } 
    .nav-Contact{
        margin-left: 74px;
    }
}