<section class="section">
    <div class="section-contain">
        <div class="section-container-block1">
            <div class="section-container-block1-flex">
                <div class="section-container-block1-flex1">
                    <p class="section-container-block1-flex1-text">
                        PRODUCT
                    </p>
                    <div class="section-container-block1-flex1-line"></div>
                </div>
                <h3 class="section-container-block1-flex-title">
                    Choose your product themes.
                </h3>
            </div>
            <p class="section-container-block1-text">
                Find the theme you want. If our 
                choice of theme is not what you 
                want, you can customize it as you want.
            </p>
        </div>
        <div class="section-container-block2 mrg-bot">
            <div class="section-container-block2-block1">
                <div class="section-container-block2-texts">
                    <p class="section-container-block2-text">
                        01
                    </p>
                    <p class="section-container-block2-text mrg">
                        Vintage
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <p class="section-container-block2-text1">
                the use of simple and limited 
                elements to get the best effect
                or impression.
            </p>
        </div>
        <div class="section-container-block2 mrg-bot">
            <div class="section-container-block2-block1">
                <div class="section-container-block2-texts">
                    <p class="section-container-block2-text">
                        02
                    </p>
                    <p class="section-container-block2-text mrg">
                        Minimalist
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <p class="section-container-block2-text1">
                the use of simple and limited 
                elements to get the best effect
                or impression.
            </p>
        </div>
        <div class="section-container-block2 mrg-bot">
            <div class="section-container-block2-block1">
                <div class="section-container-block2-texts">
                    <p class="section-container-block2-text">
                        03
                    </p>
                    <p class="section-container-block2-text mrg">
                        Modern
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <p class="section-container-block2-text1">
                the use of simple and limited 
                elements to get the best effect
                or impression.
            </p>
        </div>
        <div class="section-container-block2">
            <div class="section-container-block2-block1">
                <div class="section-container-block2-texts">
                    <p class="section-container-block2-text">
                        03
                    </p>
                    <p class="section-container-block2-text mrg">
                        transitional
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <p class="section-container-block2-text1">
                the use of simple and limited 
                elements to get the best effect
                or impression.
            </p>
        </div>
    </div>
</section>
