<section class="section">
    <div class="section-contain">
        <div class="section-container-block1">
            <div class="section-container-block1-flex">
                <div class="section-container-block1-flex1">
                    <p class="section-container-block1-flex1-text">
                        PRODUCT
                    </p>
                    <div class="section-container-block1-flex1-line"></div>
                </div>
                <h3 class="section-container-block1-flex-title">
                    Choose your product themes.
                </h3>
            </div>
            <p class="section-container-block1-text">
                Find the theme you want. If our 
                choice of theme is not what you 
                want, you can customize it as you want.
            </p>
        </div>
        <div *ngFor="let item of link">
            <app-link [link]="item"></app-link>
        </div>
    </div>
</section>
