<section class="section1">
    <div class="section1-container">
        <h1 class="section1-container-title">
            Portofolio
        </h1>
        <p class="section1-container-text">
            It is a long established fact that 
            a reader will be distracted by the 
            readable content of a page when 
            looking at its layout.
        </p>
        <img class="section1-container-img" src="assets/img/unsplash_7fX2YfJIrOQ.png" alt="photo">
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-block1">
            <p class="section2-container-block1-text">
                Portfolio
            </p>
            <div class="section2-container-block1-line"></div>
        </div>
        <div class="section2-container-block2">
            <div class="section2-container-block2-img"></div>
            <div class="section2-container-block2-tests">
                <div class="section2-container-block2-tests-us">
                    <img src="assets/img/Ellipse 332.png" alt="photo">
                    <div class="margin-us">
                        <h4 class="section2-container-block2-tests-us-title">Arga Danaan</h4>
                        <p class="section2-container-block2-tests-us-text">CEO of Dananz</p>
                    </div>
                </div>
                <h3 class="section2-container-block2-tests-title">
                    Minimalist Room
                </h3>
                <p class="section2-container-block2-tests-text">
                    Online learning with us does
                    not interfere with your daily
                    life. because learning can be
                    done anytime and anywhere.
                </p>
                <button class="section2-container-block2-tests-button" routerLink="/portofolios-details">
                    Sae More
                </button>
            </div>
        </div>
        <div class="section2-container-block3">
            <div class="section2-container-block2-img2"></div>
            <div class="section2-container-block2-tests obs">
                <div class="section2-container-block2-tests-us3">
                    <img src="assets/img/Ellipse 332.png" alt="photo">
                    <div class="margin-us">
                        <h4 class="section2-container-block2-tests-us-title">Arga Danaan</h4>
                        <p class="section2-container-block2-tests-us-text">CEO of Dananz</p>
                    </div>
                </div>
                <h3 class="section2-container-block2-tests-title mar">
                    Vintage Room
                </h3>
                <p class="section2-container-block2-tests-text">
                    Online learning with us does
                    not interfere with your daily
                    life. because learning can be
                    done anytime and anywhere.
                </p>
                <button class="section2-container-block2-tests-button"  routerLink="/portofolios-details">
                    Sae More
                </button>
            </div>
        </div>
        <div class="section2-container-block2">
            <div class="section2-container-block2-img img1"></div>
            <div class="section2-container-block2-tests">
                <div class="section2-container-block2-tests-us">
                    <img src="assets/img/Ellipse 332.png" alt="photo">
                    <div class="margin-us">
                        <h4 class="section2-container-block2-tests-us-title">Arga Danaan</h4>
                        <p class="section2-container-block2-tests-us-text">CEO of Dananz</p>
                    </div>
                </div>
                <h3 class="section2-container-block2-tests-title">
                    Modern Room
                </h3>
                <p class="section2-container-block2-tests-text">
                    Online learning with us does
                    not interfere with your daily
                    life. because learning can be
                    done anytime and anywhere.
                </p>
                <button class="section2-container-block2-tests-button"  routerLink="/portofolios-details">
                    Sae More
                </button>
            </div>
        </div>
        <div class="section2-container-block3">
            <div class="section2-container-block2-img2 img2"></div>
            <div class="section2-container-block2-tests obs">
                <div class="section2-container-block2-tests-us3">
                    <img src="assets/img/Ellipse 332.png" alt="photo">
                    <div class="margin-us">
                        <h4 class="section2-container-block2-tests-us-title">Arga Danaan</h4>
                        <p class="section2-container-block2-tests-us-text">CEO of Dananz</p>
                    </div>
                </div>
                <h3 class="section2-container-block2-tests-title mar">
                    transitional Room
                </h3>
                <p class="section2-container-block2-tests-text">
                    Online learning with us does
                    not interfere with your daily
                    life. because learning can be
                    done anytime and anywhere.
                </p>
                <button class="section2-container-block2-tests-button"  routerLink="/portofolios-details">
                    Sae More
                </button>
            </div>
        </div>
    </div>
</section>
<app-why-choose-us></app-why-choose-us>
