<div class="section-container-block2 mrg-bot">
    <div class="section-container-block2-block1">
        <div class="section-container-block2-texts">
            <p class="section-container-block2-text">
                {{links.text1}}
            </p>
            <p class="section-container-block2-text mrg">
                {{links.text2}}
            </p>
        </div>
        <a routerLink="/portofolios">
            <img [src]="links.img" alt="photo">
        </a>
    </div>
    <p class="section-container-block2-text1">
        {{links.text3}}
    </p>
</div>