.section1{
    padding: 57px 0 100px;
    background-color: var(--grayscale-white);
}
.section1-container{
    width: 90%;
    margin: 0 auto;
}
.section1-container-title{
    color: var(--grayscale-black);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 78.4px */ 
    margin-bottom: 36px;  
    text-align: center; 
}
.section1-container-text{
    color: var(--grayscale-black);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */  
    max-width: 518px; 
    margin:  0 auto 36px;
}
.section1-container-img{
    width: 100%;
}


.section2{
    background-color: var(--grayscale-white);
    padding-bottom: 100px;
}
.section2-container{
    width: 90%;
    margin: 0 auto;
}
.section2-container-block1{
    display: flex;
    align-items: center;
}
.section2-container-block1-text{
    color: var(--grayscale-black);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */    
}
.section2-container-block1-line{
    width: 100%;
    border: 2px solid var(--grayscale-black);
    margin-left: 21px;
}
.section2-container-title{
    color: var(--grayscale-50);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 61.2px */
    text-align: center;
    margin-bottom: 20px;
}
.section2-container-text{
    color: var(--grayscale-10);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    text-align: center;
    margin-bottom: 24px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




@media screen and (min-width: 540px) {
   .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .section2-container-block2{
        margin-bottom: 30px;
        width: 235px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .section2-container-title{
        text-align: left;
    }
    .section2-container-text{
        text-align: left;
        width: 471px;
    }
    .section2-container-block1-line{
        width: 507px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}
@media screen and (min-width: 1240px) {
    .section1-container{
        width: 1200px;
        margin: 0 auto;
    }
    .section2-container{
        width: 1200px;
        margin: 0 auto;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}