<section class="section1">
    <div class="section1-container">
        <h1 class="section1-container-title">
            Minimalist Room
        </h1>
        <p class="section1-container-text">
            It is a long established fact 
            that a reader will be distracted 
            by the readable content of a page 
            when looking at its layout.
        </p>
        <img class="section1-container-img" src="assets/img/unsplash_77JACslA8G0.png" alt="photo">
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-block1">
            <h3 class="section2-container-block1-title">
                Project Overview
            </h3>
            <p class="section2-container-block1-text">
                Online learning with us does not interfere 
                with your daily life. because learning can 
                be done anytime and anywhere. Online learning 
                with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. 
                Online learning with us does not interfere with your 
                daily life. because learning can be done anytime and 
                anywhere. 
            </p>
            <div class="section2-container-block1-texts">
                <p class="section2-container-block1-texts1">
                    July 22 - 2022
                </p>
                <p class="section2-container-block1-texts1 p2">
                    Interior Design - Furnitur
                </p>
            </div>
        </div>
        <div class="section2-container-block2">
            <h3 class="section2-container-block1-title">
                Project Overview
            </h3>
            <p class="section2-container-block1-text1 p1">
                Online learning with us does not interfere 
                with your daily life. because learning can 
                be done anytime and anywhere. Online learning 
                with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. 
                Online learning with us does not interfere with your 
                daily life. because learning can be done anytime and 
                anywhere. 
            </p>
            <p class="section2-container-block1-text1 ">
                Online learning with us does not interfere 
                with your daily life. because learning can 
                be done anytime and anywhere. Online learning 
                with us does not interfere with your daily life. 
                because learning can be done anytime and anywhere. 
                Online learning with us does not interfere with your 
                daily life. because learning can be done anytime and 
                anywhere. 
            </p>
        </div>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <div class="flex">
            <img class="flex1" src="assets/img/unsplash_7tFlUFGa7Dk.png" alt="photo">
            <img class="flex1" src="assets/img/unsplash_sdRZrK4lVCk.png" alt="photo">
        </div>
        <img class="section3-container-img" src="assets/img/unsplash_JIUjvqe2ZHg.png" alt="">
        <div class="flex">
            <img class="flex1" src="assets/img/unsplash_dO3qTKxwik0.png" alt="photo">
            <img class="flex1" src="assets/img/unsplash_2_BZuGgkP4k.png" alt="photo">
        </div>
    </div>
</section>