<section class="section1">
    <div class="section1-container">
        <h1 class="section1-container-title">
            Services
        </h1>
        <p class="section1-container-text">
            It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout.
        </p>
        <img class="section1-container-img" src="assets/img/unsplash_vPKNB_gc23Q.png" alt="photo">
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-block1">
            <p class="section2-container-block1-text">
                ACHIEVEMENT
            </p>
            <div class="section2-container-block1-line"></div>
        </div>
        <div *ngFor="let value of achiev">
            <app-achievement [item]="value"></app-achievement>
        </div>
    </div>
</section>
<app-ptoduct></app-ptoduct>