<header class="header">
    <div class="header-container">
        <div class="he-div">
            <h1 class="he-div-ti">
                Design your interor with high quality.
            </h1>
            <div class="he-div-block">
                <div class="he-div-line"></div>
                <div class="he-div-text">
                    <div class="he-div-text-mg">
                        <p class="he-div-text1">350+</p>
                        <p class="he-div-text2">Project Completed</p>
                    </div>
                    <div class="he-div-text-mg">
                        <p class="he-div-text1">23+</p>
                        <p class="he-div-text2">Professional Teams</p>
                    </div>
                    <div>
                        <p class="he-div-text1">15+</p>
                        <p class="he-div-text2">Years Experience</p>
                    </div>
                </div>
                <div class="he-div-texts">
                    <p class="he-div-texts1">2022</p>
                    <p class="he-div-texts1">ALL RIGHT RESERVED</p>
                </div>
            </div>
        </div>
        <img class="header-container-img" src="assets/img/unsplash_G7sE2S4Lab.png" alt="photo">
    </div>
</header>
<section class="section1">
    <div class="section1-container">
        <div class="section1-container-block1">
            <p class="section1-container-block1-text">
                ABOUT
            </p>
            <div class="section1-container-block1-line"></div>
        </div>
        <h3 class="section1-container-title">
            “We're one of the best furniture agency.
            Prioritizing customers and making purchases
            easy are the hallmarks of our agency.”
        </h3>
        <div class="section1-container-block2">
            <div class="section1-container-block2-img"></div>
            <div class="section1-container-block2-tests">
                <div class="section1-container-block2-tests-us">
                    <img src="assets/img/Ellipse 332.png" alt="photo">
                    <div class="margin-us">
                        <h4 class="section1-container-block2-tests-us-title">Arga Danaan</h4>
                        <p class="section1-container-block2-tests-us-text">CEO of Dananz</p>
                    </div>
                </div>
                <p class="section1-container-block2-tests-text">
                    Online learning with us does
                    not interfere with your daily
                    life. because learning can be
                    done anytime and anywhere.
                </p>
                <button class="section1-container-block2-tests-button">
                    Learn More
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-block">
            <div class="section2-container-block1">
                <p class="section2-container-block1-text">
                    SERVICE
                </p>
                <div class="section2-container-block1-line"></div>
            </div>
            <h3 class="section2-container-title">
                attractive furniture with the best quality.
            </h3>
            <p class="section2-container-text">
                Customize your interior design into a
                dream place with the best designers and
                quality furniture. We try our best to
                fulfill your expectations.
            </p>
            <div class="section2-container-block2 block2">
                <div class="section2-container-block2-texts">
                    <p class="section2-container-block2-text">
                        01
                    </p>
                    <p class="section2-container-block2-text mrg">
                        Interior Design
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <div class="section2-container-block2">
                <div class="section2-container-block2-texts">
                    <p class="section2-container-block2-text">
                        02
                    </p>
                    <p class="section2-container-block2-text mrg">
                        Consultant
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
            <div class="section2-container-block2 margin0">
                <div class="section2-container-block2-texts">
                    <p class="section2-container-block2-text">
                        03
                    </p>
                    <p class="section2-container-block2-text mrg">
                        Construction Consultant
                    </p>
                </div>
                <img src="assets/img/arrow-right (3).png" alt="photo">
            </div>
        </div>
        <div class="section2-container-img"></div>
    </div>
</section>
<app-ptoduct></app-ptoduct>
<section class="section3">
    <div class="section3-container">
        <div class="padding">
            <div class="section3-container-block1">
                <p class="section3-container-block1-text">
                    MATERIAL
                </p>
                <div class="section3-container-block1-line"></div>
            </div>
            <h3 class="section3-container-title">
                choice of materials for quality furniture.
            </h3>
            <p class="section3-container-text">
                You can custom the material as desired. And our furniture uses the best materials and selected quality
                materials.
            </p>
            <button class="section3-container-button">
                See Materials
            </button>
        </div>
        <div class="section3-container-block2"></div>
    </div>
</section>