.section1{
    background-color: var(--grayscale-white);
    padding: 51px 0;
}
.section1-container{
    width: 90%;
    margin: 0 auto;
}
.section1-container-title{
    color: var(--grayscale-black);
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 78.4px */ 
    margin-bottom: 40px;   
}
.section1-container-text{
    color: var(--grayscale-black);
    text-align: center;
    max-width: 518px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */  
    margin: 0 auto 51px;  
}


.section2{
    background-color: var(--grayscale-white);
    padding-bottom: 112px;
}
.section2-container{
    width: 90%;
    margin: 0 auto;
}
textarea{
    width: 100%;
    padding: 28px 0 0 28px;
}
input{
    padding: 18px 32px;
    width: 100%;
}
label{
    color: var(--grayscale-50);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */    
    display: block;
    margin-bottom: 20px;
}
.textarea{
    margin-bottom: 40px;
}
::placeholder{
    color: var(--grayscale-10);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */   
}
.section2-container-button{
    color: var(--grayscale-white);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    border: 1px solid var(--grayscale-30);
    background: var(--primary-blue-100);
    padding: 14px 32px;
    display: block;
    margin: 0 auto;
}
span{
    margin-bottom: 9px;
    display: block;
}


.section3{
    background-color: var(--grayscale-white);
    padding-bottom: 101px;
}
.section3-container{
    width: 90%;
    margin: 0 auto;
}
.section3-container-block1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.section3-container-block1-text{
    color: var(--grayscale-black);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */    
}
.section3-container-block1-line{
    border: 2px solid var(--grayscale-black);
    width: 100%;
    margin-left: 21px;
}
.section3-container-block2-title1{
    color: var(--grayscale-50, #333);
    margin-bottom: 24px;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 61.2px */    
}
.section3-container-block2-text{
    color: var(--grayscale-10, #9C9C9C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */    
}
.section3-container-block2-title2{
    color: var(--grayscale-50, #333);
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
}
.mrg{
    margin-bottom: 39px;
}
.email{
    margin-bottom: 33px;
    display: block;
}

.section3-container-block2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section3-container-block2-texts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 728px;
}
.section3-container-block2-texts-title{
    color: var(--grayscale-50, #333);
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */   
    text-align: center; 
}
.section3-container-block2-texts-text{
    color: var(--grayscale-10, #9C9C9C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    text-align: center;
}
.span{
    color: red;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-style: italic;    
}
input{
    outline: none;
}
input.ng-dirty.ng-invalid {
    border: 3px solid red;
}
input.ng-dirty.ng-valid {
    border: 3px solid green;
}
textarea.ng-dirty.ng-invalid {
    border: 3px solid red;
}
textarea.ng-dirty.ng-valid {
    border: 3px solid green;
}
textarea{
    outline: none;
}




@media screen and (min-width:768px) {
    .section3-container-block2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section3-container-block1-line{
        border: 2px solid var(--grayscale-black);
        max-width: 510px;
        margin-left: 21px;
    }
    .section3-container-block2-texts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 728px;
        margin: 0 auto;
    }
    .section3-container-block2-texts-title{ 
        text-align: left; 
    }
    .section3-container-block2-texts-text{
        text-align: left;
        width: 334px;
    }
    
}
@media screen and (min-width: 992px) {
    .flex{
        display: flex;
        justify-content: space-between;
    }
    .input-f_name{
        width: 413px;
    }
    .forms{
        width: 840px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1240px) {
    .section1-container{
        width: 1200px;
        margin: 0 auto;
    }
    .section2-container{
        width: 1200px;
        margin: 0 auto;
    }
    .section3-container{
        width: 1200px;
        margin: 0 auto;
    }
    .section3-container-block2-texts{
        margin: 0 ;
    }
    .block{
        margin-bottom:41px ;
    }
}