<section class="section1">
    <div class="section1-container">
        <h1 class="section1-container-title">
            Contact Us
        </h1>
        <p class="section1-container-text">
            It is a long established fact that a
            reader will be distracted by the readable
            content of a page when looking at its layout.
        </p>
    </div>
</section>

<section class="section2">
    <div class="section2-container">
        <form class="forms" [formGroup]="form" (ngSubmit)="save()">
            <div class="flex">
                <label>
                    <span>First Name</span>
                    <input type="text" class="input-f_name" formControlName="f_name" placeholder="First Name" name="f_name">
                    <span class="span" *ngIf="form.get('f_name')?.hasError('required')&&(form.get('f_name')?.touched || form.get('f_name')?.dirty)">
                        First Name is required!
                    </span>
                    <span class="span" *ngIf="form.get('f_name')?.hasError('minlength')&&(form.get('f_name')?.touched || form.get('f_name')?.dirty)">
                        First Name is minlength 3 symbol!
                    </span>
                </label>
                <label>
                    <span>Last Name</span>
                    <input type="text" class="input-f_name" formControlName="l_name" placeholder="Last Name" name="l_name">
                    <span class="span" *ngIf="form.get('l_name')?.hasError('required')&&(form.get('l_name')?.touched || form.get('l_name')?.dirty)">
                        Last Name is required!
                    </span>
                    <span class="span" *ngIf="form.get('l_name')?.hasError('minlength')&&(form.get('l_name')?.touched || form.get('l_name')?.dirty)">
                        Last Name is minlength 3 symbol!
                    </span>
                </label>
            </div>
            <label>
                <span>Email</span>
                <input type="email" formControlName="e_mail" placeholder="Email" name="e_mail">
                <span class="span" *ngIf="form.get('e_mail')?.hasError('required')&&(form.get('e_mail')?.touched || form.get('e_mail')?.dirty)">
                    Email is required!
                </span>
                <span class="span" *ngIf="form.get('e_mail')?.hasError('pattern')&&(form.get('e_mail')?.touched || form.get('e_mail')?.dirty)">
                    Email is "text@mail.com"!
                </span>
            </label>
            <label>
                <span>Phone Number</span>
                <input type="tel" formControlName="p_number" placeholder="Phone Number" name="p_number">
                <span class="span" *ngIf="form.get('p_number')?.hasError('required')&&(form.get('p_number')?.touched || form.get('p_number')?.dirty)">
                    Phone Number is required!
                </span>
                <span class="span" *ngIf="form.get('p_number')?.hasError('pattern')&&(form.get('p_number')?.touched || form.get('p_number')?.dirty)">
                    Phone Number is "+37495456789"!
                </span>
            </label>
            <label class="textarea"> 
                <span>Message</span>
                <textarea  formControlName="text" cols="30" rows="10" placeholder="Your Message"></textarea>
                <span class="span" *ngIf="form.get('text')?.hasError('required')&&(form.get('text')?.touched || form.get('text')?.dirty)">
                    Message is required!
                </span>
                <span class="span" *ngIf="form.get('text')?.hasError('minlength')&&(form.get('text')?.touched || form.get('text')?.dirty)">
                    Message is minlength 3 symbol!
                </span>
            </label>
            <button class="section2-container-button" [disabled]="form.invalid">Send Massage</button>
        </form>
    </div>
</section>
<section class="section3">
    <div class="section3-container">
        <div class="section3-container-block1">
            <p class="section3-container-block1-text">
                Loaction
            </p>
            <div class="section3-container-block1-line"></div>
        </div>
        <div class="section3-container-block2">
            <div>
                <h2 class="section3-container-block2-title1">
                    Visit Our Stores
                </h2>
                <p class="section3-container-block2-text mrg">
                    Find us at these locations.
                </p>
                <h4 class="section3-container-block2-title2">
                    Email
                </h4>
                <a class="section3-container-block2-text email" href="mailto:dananz@gmail.com">dananz@gmail.com</a>
                <h4 class="section3-container-block2-title2">
                    Phone
                </h4>
                <a class="section3-container-block2-text tel" href="tel: +62 815 002 1000">+62 815 002 1000</a>
            </div>
            <div class="section3-container-block2-texts">
                <div class="block">
                    <h4 class="section3-container-block2-texts-title">
                        Jakarta
                    </h4>
                    <p class="section3-container-block2-texts-text">
                        Customize your interior design into 
                        a dream place with the best designers 
                        and quality furniture. We try our best 
                        to fulfill your expectations.
                    </p>
                </div>
                <div class="block">
                    <h4 class="section3-container-block2-texts-title">
                        Surakarta
                    </h4>
                    <p class="section3-container-block2-texts-text">
                        Customize your interior design into 
                        a dream place with the best designers 
                        and quality furniture. We try our best 
                        to fulfill your expectations.
                    </p>
                </div>
                <div>
                    <h4 class="section3-container-block2-texts-title">
                        Yogyakarta
                    </h4>
                    <p class="section3-container-block2-texts-text">
                        Customize your interior design into 
                        a dream place with the best designers 
                        and quality furniture. We try our best 
                        to fulfill your expectations.
                    </p>
                </div>
                <div>
                    <h4 class="section3-container-block2-texts-title">
                        Bandung
                    </h4>
                    <p class="section3-container-block2-texts-text">
                        Customize your interior design into 
                        a dream place with the best designers 
                        and quality furniture. We try our best 
                        to fulfill your expectations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>