<section class="section1">
    <div class="section1-container">
        <h1 class="section1-container-title">About</h1>
        <p class="section1-container-text">
            It is a long established fact that 
            a reader will be distracted by
            the readable content of a page
            when looking at its layout.
        </p>
        <img class="section1-container-img" src="assets/img/unsplash_vbxyFxlgpjM.png" alt="photo">
    </div>
</section>
<section class="section2">
    <div class="section2-container">
        <div class="section2-container-achievement">
            <p class="section2-container-achievement-text">
                ACHIEVEMENT
            </p>
            <div class="section2-container-achievement-line"></div>
        </div>
        <h2 class="section2-container-title">
            interior customization with Danaanz, 
            best quality with professional workers
        </h2>
        <div class="section2-container-block">
            <img class="section2-container-block-img" src="assets/img/unsplash_tleCJiDOri0.png" alt="photo">
            <div class="section2-container-block1">
                <div>
                    <p class="section2-container-block1-text1">350+</p>
                    <p class="section2-container-block1-text2">Project Completed</p>
                </div>
                <div>
                    <p class="section2-container-block1-text1">23+</p>
                    <p class="section2-container-block1-text2">Professional Teams</p>
                </div><div>
                    <p class="section2-container-block1-text1">15+</p>
                    <p class="section2-container-block1-text2">Years Experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-why-choose-us></app-why-choose-us>