.section2-container-block2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.section2-container-block2-img{
    width: 100%;
    margin-bottom: 20px;
}
.section2-container-block2-title{
    color: var(--grayscale-50);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */  
    margin-bottom: 20px;
    text-align: center;  
}
.section2-container-block2-text{
    color: var(--grayscale-10, #9C9C9C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */  
    /* width: 334px;   */
    text-align: center;
}

@media screen and (min-width: 768px) {
    .section2-container-block2{
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .section2-container-block2-img{
        width: 334px;
        margin-bottom: 0px;
    }
    .section2-container-block2-texts{
        padding: 20px 0;
    }
    .section2-container-block2-title{
        text-align: left;
    }
    .section2-container-block2-text{
        width: 334px;  
        text-align: left;
    }
}
@media screen and (min-width: 992px) {
    .section2-container-block2{
        justify-content: space-between;
    }
    .section2-container-block2-img{
        width: 529px;
    }
    .section2-container-block2-texts{
        padding: 45px 0;
    }
}
@media screen and (min-width: 1240px) {
    .section2-container-block2-img{
        width:764px;
    }
    .section2-container-block2-texts{
        padding: 102px 0;
    }
}